# Entornos virtuales
env/
venv/

# Base de datos
*.sqlite3
db.sqlite3

# Archivos de Python
__pycache__/
*.pyc

# Archivos de entorno
.env
*.env

# Archivos de IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log